.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.915039;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.861816;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:271.728000px;}
.fc1{color:rgb(197,90,17);}
.fc0{color:rgb(0,176,80);}
.fs1{font-size:56.000000px;}
.fs2{font-size:72.000000px;}
.fs3{font-size:112.000000px;}
.fs0{font-size:128.000000px;}
.y0{bottom:0.000000px;}
.y9{bottom:65.397972px;}
.y8{bottom:66.829382px;}
.ya{bottom:96.030113px;}
.y6{bottom:186.720657px;}
.y5{bottom:208.320656px;}
.y4{bottom:229.920654px;}
.y3{bottom:251.520653px;}
.y7{bottom:289.340351px;}
.y2{bottom:331.818311px;}
.y1{bottom:363.362610px;}
.h2{height:39.128906px;}
.h3{height:49.218750px;}
.h5{height:50.308594px;}
.h4{height:78.257812px;}
.h1{height:89.437500px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x7{left:119.353851px;}
.x3{left:124.479156px;}
.x4{left:196.479156px;}
.x1{left:274.589005px;}
.x2{left:337.931610px;}
.x5{left:385.957947px;}
.x8{left:660.738831px;}
.x6{left:682.815308px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:362.304000pt;}
.fs1{font-size:74.666667pt;}
.fs2{font-size:96.000000pt;}
.fs3{font-size:149.333333pt;}
.fs0{font-size:170.666667pt;}
.y0{bottom:0.000000pt;}
.y9{bottom:87.197296pt;}
.y8{bottom:89.105843pt;}
.ya{bottom:128.040151pt;}
.y6{bottom:248.960876pt;}
.y5{bottom:277.760874pt;}
.y4{bottom:306.560872pt;}
.y3{bottom:335.360870pt;}
.y7{bottom:385.787135pt;}
.y2{bottom:442.424414pt;}
.y1{bottom:484.483480pt;}
.h2{height:52.171875pt;}
.h3{height:65.625000pt;}
.h5{height:67.078125pt;}
.h4{height:104.343750pt;}
.h1{height:119.250000pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x7{left:159.138468pt;}
.x3{left:165.972209pt;}
.x4{left:261.972209pt;}
.x1{left:406.118673pt;}
.x2{left:450.575480pt;}
.x5{left:514.610596pt;}
.x8{left:832.985107pt;}
.x6{left:895.753743pt;}
}
